body{
margin:0;
font-family:Arial;
background:#f5f5f5;
color:#222;
}

.navbar{
display:flex;
justify-content:space-between;
background:#111;
padding:15px;
}

.navbar a{
color:#ddd;
text-decoration:none;
margin-right:20px;
}

.navbar a:hover{
color:white;
}

.active{
color:#4CAF50 !important;
}

.container{
max-width:1000px;
margin:auto;
padding:30px;
background:white;
}

h1{
margin-top:0;
}

.download-box{
border:1px solid #ddd;
padding:15px;
margin:10px 0;
}

footer{
text-align:center;
padding:30px;
color:#777;
}